@mixin carouselImageContainer{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.carouselContainer{
    position: sticky;

    top: 0;
}
.carouselImage{
   @include carouselImageContainer()
}

.carouselBaseImage{
    width: 100%;
    height: 100%;
}