@mixin carouselImageContainer{
    height: 30vh;
    width: auto;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.carouselContainer{
    top: 0;
}
.carouselImage{
   @include carouselImageContainer();
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.carouselBaseImage{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}